extends ../layout
block content
	main(ng-app="climaLaboral")
		include ../components/header
		section(name="evaluaciones",ng-controller="homeController")
			

					.content(ng-show="evals.length")
						h1 Mis Evaluaciones
						.ui.relaxed.divided.list
							.item(ng-repeat="evaluacion in evals")
								i.large.wait.middle.aligned.icon
								.content
									a.header(href="/view/evaluacion/{{evaluacion.id}}") {{evaluacion.title}}
									.description {{evaluacion.createdAt}}
		section(name="crear evaluacion")
			h1 Crear Evaluacion
			form.ui.form(name="crearEvaluacion",method="POST",action="/evaluacion/create")
				.field
					label Nombre de la evaluacion
					input(type="text",name="title",placeholder="Nombre de la evaluacion",required)
				.field
					label Gerencia
					select(name="gerencia")
						option(value="operaciones") Operaciones
						option(value="contabilidad") Contabilidad
				.field
					label Contenido
					textarea(name="body",placeholder="contenido",required)
				button.ui.green.button(type="submit") Crear
				if data 
					if data.message
						p #{data.message}
					else if data.created
						p registro creado con exito
	script(src="/js/vendor/angular.min.js")
	script(src="/js/controllers/resultController.js")
	script(src="/js/controllers/homeController.js")
	script(src="/js/app/index.js")