extends ../layout
block content
	main(ng-app="climaLaboral")
		section(ng-controller="resultController")
			header
				h1 {{ evaluacion.result.title }}
				p total de preguntas : {{evaluacion.result.body.length}}
			.ui.list
				.item(ng-repeat="item in evaluacion.result.body")
					i.checkmark.icon.vtop
					.content
						.header {{item.pregunta.titulo}}
						.description
							span.ui.green.ribbon.label respuestas:
						.list
							.item(ng-repeat="respuesta in item.pregunta.respuestas.split(',')")
								i.check.circle.icon
								.content
									.header 
										span {{respuesta}}
										span  total:  {{countResult({question:respuesta,title:item.pregunta.titulo})}} | {{ countResult({question:respuesta,title:item.pregunta.titulo }) * 100 / evaluacion.result.body.length }} %


	script(src="/js/vendor/angular.min.js")
	script(src="/js/controllers/resultController.js")
	script(src="/js/controllers/homeController.js")
	script(src="/js/app/index.js")