doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="/styles/sanitize.css")
		link(rel="stylesheet", href="/ui/semantic.min.css")
		link(rel="stylesheet", href="/styles/importer.css")
	body
		block content
		script(src="/js/vendor/jquery.min.js")
		script(src="/ui/semantic.min.js")
		script(src="/js/evaluacion.js")
		script(src="/js/global.js")