extends ../layout
block content
	main
		include ../components/header
		section(name="evaluaciones")
			.ui.relaxed.divided.list
				if req.session.user.evaluaciones.length
					h1 Mis Evaluaciones
					each evaluacion in req.session.user.evaluaciones
						.item
							i.large.wait.middle.aligned.icon
							.content
								a.header(href="/evaluacion/#{evaluacion.id}") #{evaluacion.title}
								.description #{evaluacion.createdAt}

